*.pyc
.cache
.DS_Store
betanin_client/node_modules
betanin_client/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
dist
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*security-sgps.py
*security_backend.py
.venv
venv
build
dist
*.egg-info
.last_client_sum
