*.pyc
.cache
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
dist
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*security-sgps.py
*security_backend.py
.venv
build
dist
*.egg-info
