https://github.com/beetbox/beets/archive/master.zip
discogs-client
beets-noimport
pyacoustid
pylast
requests
beautifulsoup4
beets-extrafiles
pillow
unidecode
https://github.com/x1ppy/beets-originquery/archive/master.zip
https://github.com/adamjakab/BeetsPluginBpmAnalyser/archive/devel.zip
