beets @ https://github.com/beetbox/beets/archive/master.zip
beets-lidarr-fields
python3-discogs-client
beets-noimport
pyacoustid
pylast
requests
beautifulsoup4
beets-extrafiles
pillow
unidecode
jsonpath-rw
pyyaml
beets-bpmanalyser @ https://github.com/adamjakab/BeetsPluginBpmAnalyser/archive/master.zip
